#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a{
    color: white
}

#header img{
    width: 80px;
    border-radius: 20px;
}

.text-platzi{
    color:  #026fff !important;
}

#main .carousel-inner img{
    max-height: 70%vh;
    object-fit: cover;
    filter: grayscale(70%);
    
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0, 0, 0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay  .row {
    height: 100%;
}

.btn-platzi{
    background-color: #81ad35;    
    color: white;
}

.btn-platzi:hover{
    background-color: #658f1c;
}


strong{
    color: rgb(54, 92, 216);
}
#saludo{
    text-align: justify;
}
#solicitar-presupuesto{
    background-color: #026fff;
}
.project {
    /*
    border-color: #2e0252;
    border-width: 15px;
    border-style: groove */
    border: 15px groove  #cfcece;
    border-radius: 10px;
    border-top-right-radius: 50px;
    margin-bottom: 15px;
   
    padding: 20px; 
    background: #cfcece;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 30px 10px #888888; 
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project strong{
    font-family: 'Roboto Mono', monospace;
}

.project-tittle {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;


}

.project-details {
    width: 500px;
}

.project-imageConteiner {
    width: 500px;
}

#portfolio{
    background: #cfcece;
    padding: 20px;
    
}
#projects{
    background: #cfcece;
    margin-top: auto;
    margin-bottom: auto
}
#solicitar-presupuesto{
    margin-top: auto
}

body{
    background: #cfcece; 
}